@font-face
{
  font-family: 'Esphimere';
  src: url('../src/police/Esphimere.otf');
}

#body
{
  background-color: #201407;
}

header
{
  position: relative;
  background-image: url('../src/img/head.jpg');
  height: 300px;
  width: 100%;
}

#logo
{
  position: absolute;
  background-image: url('../src/img/platypulse.png');
  background-repeat: no-repeat;
  margin-left: 9%;
  margin-top: 10px;
  height: 257px;
  width: 561px;
}

menu
{
  font-size: 33px;
  padding-left: 10%;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: #FAEECD;
}

menu li
{
  display: inline-block;
  list-style: none;
  font-family: 'Esphimere';
  text-transform: uppercase;
  padding-right: 50px;
  text-shadow: 1px 1px 3px #555555;
}

menu a, #ext_links a
{
  color: #FFFFFF;
}

menu a:hover, #ext_links a:hover
{
  transition: all 0.5s;
  color: #f1983b;
  text-decoration: none;
}

menu a:link, #ext_links a:link
{
  text-decoration: none;
}

#ext_links
{
  font-size: 18px;
  padding-left: 10%;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #705232;
  box-shadow: 5px 5px 10px #111111;
}

#ext_links li
{
  display: inline-block;
  list-style: none;
  font-family: 'Esphimere';
  padding-right: 50px;
  text-shadow: 1px 1px 1px #555555;
}

.info
{
  font-family: 'Esphimere';
  margin-left: 3%;
  margin-right: 3%;
}

.info h1
{
  font-size: 20px;
  color: #DDDDDD;
  padding-top: 30px;
  text-align: center;
}

.info h2
{
  font-size: 32px;
  color: #88BAE8;
  padding-top: 50px;
  padding-bottom: 10px;
  text-shadow: 1px 1px 5px #222222;
}

.info p, .info ul
{
  font-size: 15px;
  color: #DDDDDD;
}

.info a
{
  color: #85D764;
}

.info a:hover
{
  transition: all 0.2s;
  color: #3D8A1F;
  text-decoration: none;
}

footer
{
  text-align: center;
  padding-top: 3%;
  padding-bottom: 5px;
  color: #FFFFFF;
  font-family: 'Esphimere';
  font-size: 18px;
  text-transform: uppercase;
}

footer a
{
  color: #61BFBE;
}

footer a:hover
{
  transition: all 0.2s;
  color: #479594;
  text-decoration: none;
}

footer a:link
{
  text-decoration: none;
}
